#wrapper {
    margin: 20px auto 0;
    width: 800px; }

.imageinput {display: none;}

.msgError, .img-preview {display: none;}

.upload-item {
    margin: 0;
    margin-bottom: 20px; 
    position: relative; }

    .upload-item a {
        background-color: #EFEFEF;
        box-shadow: inset 0 0 14px rgba(0,0,0,0.1);
        cursor: pointer;
        display: block; 
        overflow: hidden; 
        position: relative; 
        text-align: center; 
        vertical-align: middle; }

    .upload-item a:hover { background-color: #E7E7E7; }

        .upload-item a.link-upload img { 
            display: inline;
            font-size: 0px; 
            vertical-align: middle; }

        .upload-item a.link-upload[data-size="overflow"] img { 
            margin:-100%;
        }    
        .upload-item a[data-size="free"] img,
        .upload-item a[data-size="crop"] img {
            max-width: 100%;
        }

        .upload-item a[data-size="crop"] img {            
        }

    .upload-item input { visibility: hidden; }

    .upload-item p {
        color: #A9A9A9;
        font: 700 1em helvetica,sans-serif;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 20%;
        width: 100%; }

        .upload-item p cite {
            font-style: normal;
            font-weight: lighter; }

    .upload-item p.msgError {
        color: #E68383;
        font-size: 0.9em;
        font-weight: 300;
        padding-top: 5px;
        position: static;
        text-align: left;
        width: 100%; }


#resAJAXimage {
    position: absolute;
    left: -7777px;
    top: -7777px;
    visibility: hidden; }
